Flask==2.3.3
Werkzeug==2.3.7
gunicorn==21.2.0
flask_sqlalchemy==3.1.1
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0

PyPDF2==3.0.1
reportlab==4.0.8
psycopg2-binary==2.9.9
